.pagination {
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

.pagination button {
  font-size: 3rem;
  margin-left: 5px;
}

.pagination button:hover {
  color: #333;
  transition: 200ms ease-in;
}

.pagination button:disabled {
  transition: none;
  color: gray;
}
