.reset {
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  height: 50px;
  font-weight: 600;
}

.primary-btn {
  width: 100%;
  border-radius: 8px;
  border: 1px solid gray;
  border-color: #0d6efd;
  cursor: pointer;
  font-weight: 600;
}

.secondary-button {
  width: 47%;
  font-weight: 600;
  font-size: 1.6rem;
  padding: 8px 5px;
  border-radius: 8px;
}

.primary-form--btn {
  background-color: #0d6efd;
  color: #fff;
}

.secondary-form-btn {
  background-color: #e6e6e6;
  color: #333;
}
