.product {
  padding: 0 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #333;
}

.product h4 {
  font-size: 1.8rem;
  font-weight: 300;
}

.completed h4 {
  opacity: .7;
  text-decoration: line-through;
}

.product button{
  font-size: 2rem;
  margin-left: 10px;
  color: #f8f9fa;
}

.product .checkbtn {
  color: #1fbb33;
}

.product .deletebtn {
  color: #d45858;
}

.product .undo {
  color: #328bbe;
}
