* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: 'Source Sans Prop', sans-serif;
}

.main {
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* OBJECT CLASSES */
.container {
  width: 600px;
  margin: 0 auto;
}

.alignheading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
}

.alignAndJustifyColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.light, .light .header h1 {
  transition: 200ms;
  background-color: #e6e6e6;
  color: rgb(12, 11, 11);
}

.dark, .dark .header h1 {
  transition: 200ms;
  background-color: rgb(12, 11, 11);
  color: #fff;
}

.change-theme {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 5rem;
}

.change-theme i {
  background: none;
}

.dark .change-theme i {
  color: #fff;
}

.light .change-theme i {
  color: rgb(12, 11, 11);
}
